name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Lint, test, build and test-e2e with KinD
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.24.6 # golang-version:go
          check-latest: true

      - name: Lint
        run: make lint

      - name: Unit tests
        run: make test

      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: cover.out

      - name: Build operator image
        run: make docker-build

      - name: Create KinD
        uses: helm/kind-action@v1
        with:
          cluster_name: 'kind'

      - name: E2E tests
        run: make test-e2e
